@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap');
ion-title {
    font-family: 'Playfair Display', serif;  
    font-size: 1.7em;
}

ion-title img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    vertical-align: bottom;
}